#contact{
    margin-top: 3%;
    height: 30vh;
    background-image: url('/assets/img/contact.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #f3f3f3;
}
#contact h3 {
    margin-top: 70px;
}

