<section id="projects">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h1>Our Projects</h1>
        </div>

        <div class="row justify-content-center text-center">
            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/img/ai.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Ai Project</h4>
                        <p class="card-text">
                            Welcome To Our Ai Project
                        </p>
                        <a [routerLink]="'/projects/ai'" class="btn btn-outline-info btn-block">more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/img/stem.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">STEM Project</h4>
                        <p class="card-text">
                            Welcome To Our STEM Project
                        </p>
                        <a [routerLink]="'/projects/ml'" class="btn btn-outline-info btn-block">more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/img/ml.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">ML Project</h4>
                        <p class="card-text">
                            Welcome To Our ML Project
                        </p>
                        <a [routerLink]="'/projects/stem'" class="btn btn-outline-info btn-block">more</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>