<section id="projects">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <h1>{{ 'HOME.PROJECTS' | translate }}</h1>
    </div>

    <div class="row justify-content-center text-center">
      <div class="col-lg-4 col-md-4">
        <div class="card">
          <img src="/assets/img/ai.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{ 'PROJECTS.AI' |translate }}</h4>
            <p class="card-text">
              {{ 'PROJECTS.AIDESC' | translate }}
            </p>
            <a [routerLink]="'/projects/ai'" class="btn btn-outline-info btn-block">{{ 'HOME.MORE' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="card">
          <img src="/assets/img/stem.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{ 'PROJECTS.STEM' |translate }}</h4>
            <p class="card-text">
              {{ 'PROJECTS.STEMDESC' | translate }}
            </p>
            <a [routerLink]="'/projects/ml'" class="btn btn-outline-info btn-block">{{ 'HOME.MORE' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
